
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: lostsales.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: lostsales/static_root
   
  aws:elasticbeanstalk:container:python:
    WSGIPath: lostsales.wsgi:application
    NumProcesses: 1
    NumThreads: 15