container_commands:
  00-chmd:
    command: chmod +x .platform/hooks/predeploy/01_collect_static.sh

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "lostsales.settings"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: lostsales/wsgi.py
