container_commands:
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate &&  python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate &&  python manage.py collectstatic --noinput"
  03_createsu:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate &&  python manage.py createsu"
    leader_only: true
  01_reload_nginx:
    command: "service nginx reload"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "lostsales.settings"
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: lostsales/wsgi.py



files:
    "/etc/nginx/conf.d/proxy.conf":
      mode: "000755"
      owner: root
      group: root
      content: |
        client_max_body_size 25M;

