<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Enter quantity for Item: {{item.description}}
    <form action="{% url 'capture' %}" method="POST">
      {% csrf_token %} Quantity: <input type="text" name="quantity" />
      <input type="hidden" name="product" value="{{item.id}}" />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
