{% extends 'main/index.html' %} {% block content %}
{% load humanize %}
{% load mathfilters  %}

<div class="container">

  </div>
  <div class="row">
    <div class="col-sm">
      <h4>Filter Lost Sales</h4>
        
        {% if messages %}
        
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
            {{message}}
        </div>
        {% endfor %}
          
          
        {% endif %}
        
        
        
        <form class="form-inline" action="" method="GET">
          <div class="form-group">
            <label for=" start_date">Start Date</label>
            <input type="date" name="start_date" id="start_date" class="form-control datepicker" placeholder="yyyy-mm-dd" aria-describedby="helpId">
            

            <label for=" end_date">End Date</label> Date</label>
            <input type="date" name="end_date" id="end_date" class="form-control " placeholder="yyyy-mm-dd" aria-describedby="helpId">
            
          </div>
          <button type="submit" name='submit' class="btn btn-primary" value="filter">Filter <i class="fas fa-filter"></i></button>
          <button type="submit" name='submit' class="btn btn-outline-primary" value="export">Export <i class="far fa-file-excel"></i></button>
        </form>



<!-- 
      <form action="" method="GET" class="fomr-in">
        {{myfilter.form}}
      
      </form> -->
    </div>
  </div>
  <hr />
 <p> 

  {% if branch == 'Branch' %}
  <a href="{% url 'capture_item' %}" class="btn btn-outline-primary btn-lg" > Capture a Lost Sale <span><i class="far fa-plus-square"></i></span></a> 
  {% endif %}
   </p>

   <!--Grid row-->
<div class="row">

  <!--Grid column-->
  <div class="col-md-4 mb-4">

    <!-- Card -->
    <div class="card gradient-card">

        <div class="card-image" >

          <!-- Content -->
          <a href="#!">
            <div class="text-white d-flex h-100 mask blue-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">Total Item Captured</h3>
                
              </div>
              <div class="second-content align-self-center mx-auto text-center">
                <i class="fas fa-chart-pie fa-3x"></i>
              </div>
            </div>
          </a>

        </div>

        <!-- Data -->
        <div class="third-content ml-auto mr-4 mb-2">
         
          <h4 class="font-weight-bold float-right">{{totalcapture}}</h4>
        </div>

        <!-- Content -->
        

    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-4 mb-4">

    <!-- Card -->
    <div class="card gradient-card">

        <div class="card-image" >

          <!-- Content -->
          <a href="#!">
            <div class="text-white d-flex h-100 mask purple-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">Total Quantity</h3>
               
              </div>
              <div class="second-content  align-self-center mx-auto text-center">
                <i class="fas fa-chart-line fa-3x"></i>
              </div>
            </div>
          </a>

        </div>

        <!-- Data -->
        <div class="third-content  ml-auto mr-4 mb-2">
          
          <h4 class="font-weight-bold float-right">{{quantity}}</h4>
        </div>

        <!-- Content -->
        

    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-4 mb-4">

    <!-- Card -->
    <div class="card gradient-card">

        <div class="card-image" >

          <!-- Content -->
          <a href="#!">
            <div class="text-white d-flex h-100 mask peach-gradient-rgba">
              <div class="first-content align-self-center p-3">
                <h3 class="card-title">Total Price</h3>
              
              </div>
              <div class="second-content  align-self-center mx-auto text-center">
                
                <i class="far fa-money-bill-alt fa-3x"></i>
              </div>
            </div>
          </a>

        </div>

        <!-- Data -->
        <div class="third-content  ml-auto mr-4 mb-2">
        
          <h4 class="font-weight-bold float-right">N{{extprice|intcomma}}</h4>
        </div>

        <!-- Content -->
       
    </div>
    <!-- Card -->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  
  <!--Grid column-->

</div>
<!--Grid row-->
 
  <div class="row">

 
    <div class="col-md">
      <table class="table">
        <thead class="thead-dark">
          
            <th scope="col">UPC</th>
            <th scope="col">Description</th>
            <th scope="col">Attrib</th>

            <th scope="col">Size</th>
            <th scope="col">Qty</th>
            <th scope="col">Price</th>
            <th scope="col">Ext Price</th>
            <th scope="col">Created_by</th>
            
            {% if branch == 'BackOffice' %}
            <th scope="col">Branch</th>
            {% endif %}
              
            <th scope="col">Created on</th>
          </tr>
        </thead>
        <tbody>
          {% for i in lostsales %}

          <tr>
           
            <td>{{i.product.upc}}</td>
            <td>{{i.product.description}}</td>
            <td>{{i.product.attributes}}</td>
            <td>{{i.product.size}}</td>
            <td>{{i.quantity}}</td>
            <td>N{{i.product.price|intcomma}}</td>
            <td>N{{i.product.price|mul:i.quantity|intcomma}}</td>
            <td>{{i.user.username}}</td>
            {% if branch == 'BackOffice' %}
            <th>{{i.store.name}}</th>
            {% endif %}
            <td>{{i.created_date|naturaltime}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}
