{% extends 'main/index.html' %} {% block content %}
{% load humanize %}

<div class="container">

  </div>
  <div class="row">
    <div class="col-sm">
      <h4>Filter Lost Sales</h4>
        
        {% if messages %}
        
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
          
          
        {% endif %}
          
        
        <form class="form-inline" action="" method="GET">
          <div class="form-group">
            <label for=" start_date">Start Date</label>
            <input type="text" name="start_date" id="start_date" class="form-control" placeholder="format: yyyy-mm-dd" aria-describedby="helpId">
            

            <label for=" end_date">End Date</label> Date</label>
            <input type="text" name="end_date" id="end_date" class="form-control" placeholder="format: yyyy-mm-dd" aria-describedby="helpId">
            
          </div>
          <button type="submit" name='submit' class="btn btn-primary" value="filter">Filter <i class="fas fa-filter"></i></button>
          <button type="submit" name='submit' class="btn btn-outline-primary" value="export">Export <i class="far fa-file-excel"></i></button>
        </form>



<!-- 
      <form action="" method="GET" class="fomr-in">
        {{myfilter.form}}
      
      </form> -->
    </div>
  </div>
  <hr />
 <p> 
   <a href="{% url 'capture_item' %}" class="btn btn-outline-primary btn-lg" > Capture a Lost Sale <span><i class="far fa-plus-square"></i></span></a> </p>
  <div class="row">
    <div class="col-md">
      <table class="table">
        <thead class="thead-dark">
          
            <th scope="col">UPC</th>
            <th scope="col">Description</th>
            <th scope="col">Attrib</th>

            <th scope="col">Size</th>
            <th scope="col">Qty</th>
            <th scope="col">Price</th>
            <th scope="col">Created on</th>
          </tr>
        </thead>
        <tbody>
          {% for i in lostsales %}

          <tr>
           
            <td>{{i.product.upc}}</td>
            <td>{{i.product.description}}</td>
            <td>{{i.product.attributes}}</td>
            <td>{{i.product.size}}</td>
            <td>{{i.quantity}}</td>
            <td>N{{i.product.price|intcomma}}</td>
            <td>{{i.created_date|naturaltime}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}
